
<section id="bio">
<div class="container">
  <h3>Bio</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <h3>
        
       Hi! My name is Paul Buchanan, and I am 14 years old. I'm currently in 9th grade, and I'm learning Python and Html. I hope to someday become a computer programmer like my brother, Justin or a pilot like my dad. I was on the Science Olympiad team 3 years in a row, I also really like to build/make things in my spare time. I live in Georgia and enjoy listening to music and hammocking with friends.
        
        </br>
        </br>
        
      

        </br>
        </br>
        </ul>

        </br>

        </h3>

    </div>
  </div>
</div>
</section>
