
<section id="bio">
<div class="container">
  <h3>Bio</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <h3>
        
        Hi! my name is Paul Buchanan and I am 13 years old. I'm currently in 7th grade and will be going to 8th grade soon. I'm currently learning Python and Html, I am hoping to someday become a computer programmer like my brother, Justin. I was in the Science Olympiad team last year and this year, I also really like to build/make things in my spare time.
        
        </br>
        </br>
        
      

        </br>
        </br>
        </ul>

        </br>

        </h3>

    </div>
  </div>
</div>
</section>
