<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}blog.html"><i class="fas fa-info"></i></a></li>
        <li><a href="{{ site.baseurl }}projects.html"><i class="fas fa-project-diagram"></i></a></li>
        <li><a href="{{ site.baseurl }}Pauls_stuff1.html"><i class="fas fa-user-lock"></i></a></li>
        <li><a href="{{ site.baseurl }}link.html"><i class="fas fa-link"></i></a></li></ul>
    </div>
  </div>
</nav>
