<div class="social">
	<h4>
    {% if site.github %}
	  <a href="http://github.com/{{ site.github }}"><i class="fab fa-github"></i></a>
    {% endif %}
    {% if site.email %}
	  <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}
    {% if site.youtube %}
	  <a href="https://www.youtube.com/channel/{{ site.youtube }}"><i class="fab fa-youtube"></i></a>
    {% endif %}
    {% if site.instagram %}
	  <a href="https://www.instagram.com/{{ site.instagram }}"><i class="fab fa-instagram"></i></a> 	        {% endif %}
    {% if site.twitter %}
		  <a href="http://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter"></i></a>
    {% endif %}
	</h4>
</div>
